
$color-black-100: #787878;
$color-black-200: #6B6B6B;
$color-black-300: #5E5E5E;
$color-black-400: #525252;
$color-black-500: #454545;
$color-black-600: #373737;
$color-black-700: #2B2B2B;
$color-black-800: #1F1F1F;
$color-black-900: #121212;
$color-black-950: #050505;

$color-blue-100: #FFFFFF;
$color-blue-200: #ECEFF4;
$color-blue-300: #CBD3E1;
$color-blue-400: #ABB8CE;
$color-blue-500: #8B9DBC;
$color-blue-600: #6A82A9;
$color-blue-700: #52698E;
$color-blue-800: #40516E;
$color-blue-900: #2D394E;
$color-blue-950: #1A212D;

$color-background: #F5F7FA;

$color-state: #FF6577;

$color-gray-100: #DEDEDE;
$color-gray-200: #C4C4C4;
$color-gray-300: #ABABAB;
$color-gray-400: #919191;

$color-illust-blue: #5195EE;
$color-illust-brown: #9A695E;
$color-illust-green: #48BB98;
$color-illust-purple: #8E80E3;
$color-illust-red: #E46E80;
$color-illust-yellow: #FBC85B;

$color-illust-sub-blue1: #3E3E3E;
$color-illust-sub-blue2: #3E414D;
$color-illust-sub-blue3: #494D59;
$color-illust-sub-gray1: #C7D1E0;
$color-illust-sub-gray2: #E3E9F1;
$color-illust-sub-gray3: #EFF3F8;
$color-illust-sub-yellow: #E8AA26;


